.client-list-container {
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
  }
  
  mat-table,
  table {
    width: 100%;
  }
  
  .table-actions {
    margin-bottom: 16px; /* Espacio entre los botones y el campo de búsqueda */
  }
  
  .search-field {
    margin-top: 16px; /* Espacio entre el campo de búsqueda y los botones */
  }
  
  .table-actions button {
    margin-right: 12px; /* Espacio entre los botones */
    min-width: 120px; /* Ancho mínimo de los botones */
  }
  .table-actions {
    margin-bottom: 16px; /* Espacio entre los botones y el campo de búsqueda */
    display: flex;
    align-items: center; /* Alinear verticalmente los elementos */
  }