.toolbar-item-spacer {
    flex: 1 1 auto;
}

.app-container {
    height: 90%;
    margin: 1;
}  
.app-sidenav {
    width: 230px;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: row;
}
  
